/* Part 8: Step 4: Add flash messages */

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#logo-font-1 {
    font-family: "Audiowide", sans-serif;
    font-size: 100px;
    font-style: italic;
    color: darkorchid
}

#logo-font-2 {
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    font-style: italic;
    color: orange
}

.flash-alert {
    animation: fadeOut 20s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.flash-repeat {
    animation: flashMessage 3s ease-in-out infinite;
}

@keyframes flashMessage {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}