.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Jotai flash message visible for first 70% of the time */
.flash-alert {
    animation: fadeOut 20s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}